<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARM mbed DAC demo</title>

    <link href='css/reset.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery.fittext.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
		$("#full-message").fitText();
	});
    </script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      body {
        background-color: {{backgroundColor}};
        color: {{fontColor}};
      }

      #message {
        color: {{messageColor}};
      }
    </style>
  </head>
  <body>
    <div id="message-content">
      <div id="full-message">
        <span id="pre-message">{{preMessage}}</span><span id="message"></span><span id="post-message">{{postMessage}}</span>
      </div>
    </div>

    <div id="logos">
      {{#if logo1}}
      <div id="logo1" class="logo"><img title="Logo 1" alt="Logo 1" src="{{logo1}}"></div>
      {{/if}}
      {{#if logo2}}
      <div class="logo">+</div>
      <div id="logo2" class="logo"><img title="Logo 1" alt="Logo 2" src="{{logo2}}"></div>
      {{/if}}
    </div>

    <script type="text/javascript">
    	$(function(){
    		var socket = io();
        var names = {};

        // // update the html every second
        // setInterval(function(){
        //   $('#message').html("");
        //   for(var name in names){
        //     $('#message').append(name+', ');
        //   }
        // },2000);

        // prune names list every 3 seconds
        setInterval(function(){
          var time =  Math.floor(Date.now() / 1000);
          //console.log('time is',time,"names are ",names.toString())
          $('span').filter(":hidden").remove();
          for(var name in names){
            if(time - names[name]['time'] > 3){
              // remove from names list
              console.log("removing",name);
              delete names[name];
              $('#'+name).fadeOut(1000);
            }
          }
        },3000);

    		socket.on('found',function(data){
    			//console.log("Found beacon",data);
          name = data.name.replace(/\s+/g,'');
          if(names.hasOwnProperty(name)){
            names[name]['time'] = Math.floor(Date.now() / 1000);
          }else{
            console.log('Adding ', data.name, ' as ', name);
            names[name]={};
            names[name]['name'] = data.name;
            names[name]['time'] = Math.floor(Date.now() / 1000);
            if($("#"+name).length == 0){
              $('#message').append('<span hidden id="'+name+'">'+data.name+", "+'</span>');
            }
            //console.log('<span hidden id="'+name+'">'+data.name+'</span>')
            $('#'+name).fadeIn(700)
          }
    			// $('#message').html(function(){return data.name});
          // $("#full-message").fitText();
    		});
    	});
    </script>
  </body>
</html>

