<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARM mbed DAC demo</title>

    <link href='css/reset.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery.fittext.js"></script>
    <script type="text/javascript">
  $(document).ready(function(){
		$("#pre-message").fitText(1.2);
    $("#post-message").fitText(1.2);
	});
    </script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      body {
        background-color: {{backgroundColor}};
        color: {{fontColor}};
      }

      .message {
        color: {{messageColor}};
      }
    </style>
  </head>
  <body>
    <div id="message-content">
      <div id="pre-message" class="section">
        <div class="padding">
          {{preMessage}}
        </div>
      </div>
      <div id="names-content" class="section"></div>
      <div id="post-message" class="section">
        <div class="padding">
          {{postMessage}}
        </div>
      </div>
    </div>

    <div id="logos">
      {{#if logo1}}
      <div id="logo1" class="logo"><img title="Logo 1" alt="Logo 1" src="{{logo1}}"></div>
      {{/if}}
      {{#if logo2}}
      <div class="logo">+</div>
      <div id="logo2" class="logo"><img title="Logo 1" alt="Logo 2" src="{{logo2}}"></div>
      {{/if}}
    </div>

    <script type="text/javascript">
    	$(function(){
    		var socket = io();
        var maxNames = 30;
        var count = 0;

        jQElement = $('#names-content');

        function addName(name) {
          jQElement.find('.name.message').removeClass('message');
          jQElement.append('<div class="name message">' + name + '</div>');

          if (count > maxNames) {
            jQElement.find('.name').first().remove();
          } else {
            count += 1;
          }

          jQElement.find('.message').fitText(1.2);

          var elem = jQElement[0];
          elem.scrollTop = elem.scrollHeight;
        }

        // Remove this function to stop random name addition
        setInterval(function() {
          addName(Math.random());
        }, 500);

    		socket.on('found',function(data){
          addName(data.Name);
    		});
    	});
    </script>
  </body>
</html>

